# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# R history files
*.Rhistory

# python notebook checkpoint files
*-checkpoint.ipynb

# compiled python files
*.pyc

# tableau recovery files
*.twbr
*.log
*.csv
